<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ object.title }}</title>

    <!-- favicon -->
    <link rel="icon" href="{% static '/icon/favicon.ico' %}">
  </head>
  <body>
    <div class="bg-info text-light p-2">
      <h3>SR Event Point Graph</h3>
    </div>
    <div class="container">
      <div class="row my-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>{{ object.title }}</h4>
            </div>
            <div class="card-body px-0 py-2">
              <div id="chart_wrapper" class="overflow-x-hidden" style="width: 100%;">
                <div class="d-none d-md-block">
                  <canvas id="myChartLarge" width="1000" height="500"></canvas>
                </div>
                <div class="d-md-none d-block" style="width: 200%;">
                  <canvas id="myChartSmall" width="400" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <span class="text-secondary small">{{ object.remark|linebreaksbr}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <span class="h4">Ranking</span>
              <span class="text-secondary small ml-3">{{ object.last_watch_dt }}現在</span>
            </div>
            <div class="card-body p-0">
              <table class="table table-sm table-striped">
                <tr>
                  <th class="pl-4">#</th>
                  <th>ルーム名</th>
                  <th>ポイント</th>
                  <th class="align-middle small text-secondary">変動(1時間)</th>
                </tr>
                {% for room in object.room_ranking %}
                <tr>
                  <td class="align-middle pl-4">{{ forloop.counter }}</td>
                  <td class="align-middle">{{ room.name }}</td>
                  <td class="align-middle">{{ room.last_point }} pt</td>
                  <td class="align-middle text-secondary small">+ {{ room.point_increment }} pt</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4">
                    表示できるルームがありません。
                  </td>
                <tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <script>
      var labels = {{ object.schedule_json|safe }};
      var chartl = document.getElementById('myChartLarge');
      var charts = document.getElementById('myChartSmall');
      var ctxl = chartl.getContext('2d');
      var ctxs = charts.getContext('2d');
      var data = {
        "type": "line",
        "data": {
          "labels": labels,
          "datasets": {{ object.make_datasets|safe }},
        },
        "options":{
         "legend": {
             "position": "bottom",
             "labels": {
               "boxWidth": 20
             }
          },
          "plugins": {
            "colorschemes": {
              "scheme": "tableau.Classic20"
            }
          }
        }
      }
      var myChart = new Chart(ctxl, data);
      var myChart = new Chart(ctxs, data);
      var chartWrapper = document.getElementById('chart_wrapper');
      chartWrapper.style.overflow = "auto";
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
