{% extends 'graph/srevent_base.html' %}
{% load static %}

{% block header %}
<title>SR Event Point Graph</title>
{% endblock %}

{% block container %}
<div class="row my-4">
        <div class="col">
          <div class="card border-dark">
            <div class="card-header  bg-dark text-light">
              <span class="h5"><i class="fa-solid fa-list-ul me-3"></i>Event List</span>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <tr>
                  <th></th>
                  <th>イベント名</th>
                  <th>開催期間</th>
                  <th></th>
                </tr>
                {% for event in object_list %}
                <tr>
                  <td class="align-middle text-center">{{ event.get_badge|safe }}</td>
                  <td class="align-middle">{{ event.title }}</td>
                  <td class="align-middle">{{ event.start_dt }} - {{ event.end_dt }}</td>
                  <td class="align-middle"><a href="{% url 'graph:detail' event.id %}" class="btn btn-sm btn-success" title="グラフを表示" data-bs-toggle="tooltip"><i class="fa-solid fa-chart-line"></i></a>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3">
                    表示できるイベントがありません。
                  </td>
                <tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}
