{% extends 'graph/srevent_base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
<title>{{ object.title }}</title>
{% endblock %}

{% block container %}
<div class="row my-4">
  <div class="col">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light align-middle">
        <span class="h5">{{ object.get_badge|safe }} {{ object.title }}</span>
      </div>
      <div class="card-body px-0 py-2">
        <div id="chart_wrapper" class="overflow-x-hidden" style="width: 100%;">
          <div class="d-none d-md-block">
            <canvas id="myChartLarge" width="1000" height="500"></canvas>
          </div>
          <div class="d-md-none d-block" style="width: 200%;">
            <canvas id="myChartSmall" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <span class="text-secondary small">{{ object.remark|linebreaksbr}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row my-4">
        <div class="col">
          <div class="card border-dark">
            <div class="card-header bg-dark text-light">
              <span class="h5"><i class="fa-solid fa-ranking-star me-3"></i>Ranking</span>
              <span class="small ms-2">{{ object.last_watch_dt }}現在</span>
            </div>
            <div class="card-body p-0">
              <table class="table table-sm table-striped">
                <thead>
                  <tr class="table-secondary">
                    <th></th>
                    <th></th>
                    <th>ルーム名</th>
                    <th class="text-end pe-2">ポイント</th>
                    <th class="align-middle text-end small text-secondary pe-2">変動(1時間)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in object.room_ranking %}
                  <tr>
                    <td class="px-md-5"></td>
                    <td class="align-middle text-center">
                      {% if forloop.counter == 1 %}<span class="h3" style="color: #bbaa00;">❶</span>
                      {% elif forloop.counter == 2 %}<span class="h3" style="color: #999999;">❷</span>
                      {% elif forloop.counter == 3 %}<span class="h3" style="color: #ac6b25;">❸</span>
                      {% else %}{{ forloop.counter }}
                      {% endif %}
                    </td>
                    <td class="align-middle">{{ room.name }}</td>
                    <td class="align-middle text-end">{{ room.last_point|intcomma:False }} pt</td>
                    <td class="align-middle text-end text-secondary small">+ {{ room.point_increment|intcomma:False }} pt</td>
                    <td class="px-md-5"></td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6">
                      表示できるルームがありません。
                    </td>
                  <tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<script>
  var labels = {{ object.schedule_json|safe }};
  var chartl = document.getElementById('myChartLarge');
  var charts = document.getElementById('myChartSmall');
  var ctxl = chartl.getContext('2d');
  var ctxs = charts.getContext('2d');
  var data = {
    "type": "line",
    "data": {
      "labels": labels,
      "datasets": {{ object.make_datasets|safe }},
    },
    "options":{
     "legend": {
         "position": "bottom",
         "labels": {
           "boxWidth": 20
         }
      },
      "plugins": {
        "colorschemes": {
          "scheme": "tableau.Classic20"
        }
      }
    }
  }
  var myChart = new Chart(ctxl, data);
  var myChart = new Chart(ctxs, data);
  var chartWrapper = document.getElementById('chart_wrapper');
  chartWrapper.style.overflow = "auto";
</script>
{% endblock %}
