<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="sticky-top bg-info text-light p-2">
      <h3>SR Event Point Graph</h3>
    </div>
    <div class="container">
      <div class="row my-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Event List</h4>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <tr>
                  <th>イベント名</th>
                  <th>開催期間</th>
                  <th></th>
                </tr>
                {% for event in object_list %}
                <tr>
                  <td class="align-middle">{{ event.title }}</td>
                  <td class="align-middle">{{ event.start_dt }} - {{ event.end_dt }}</td>
                  <td class="align-middle"><a href="{% url 'graph:detail' event.id %}" class="btn btn-info">グラフ表示</a>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3">
                    表示できるイベントがありません。
                  </td>
                <tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
